body{
  background-color: darkslateblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white
}

.aboutme{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

h1 {
  text-align: center;
}

.contact{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  text-align: center;
  width: 250px;
  margin-left: 200px;
  margin-right: 200px;
  
}

.projectimg {
  height: 100px;
  width: 100px; 
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

html{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.app{
  border: double darkslateblue;
}

.grey{
  background-color: lightgray;
  border: double lightblue
}

.white{
  background-color: white;
  border-style: double;
  border-color: darkslateblue;
  padding: 10px;
}

.projectDiv{
  border-style: double;
  border-color: darkslateblue;
}

.contact-info{
  text-align: center;
}

.navbar{
  background-color: black;

}

.card-title{
  color:lightblue
}

.link{
  color:lightblue

}




